<form name="singleMatchForm">
<div layout="column">
    <div>
      <player-select placeholder="Winner" selectedPlayer="{{ $ctrl.match.winner_1 }}"></player-select>
    </div>
    <div class="md-subhead">Vs</div>
    <div>
      <player-select placeholder="Loser" selectedPlayer="{{ $ctrl.match.loser_1 }}"></player-select>
    </div>
    <div layout="row" layout-align="end">
      <md-button ng-click="clearValue()" ng-disabled="!(quest || favoriteColor)">Clear</md-button>
      <md-button ng-click="save()" class="md-primary">Save</md-button>
    </div>
  </div>
</form>
